.sign-up {
    padding: 140px 0 155px 0;
    @include adaptive-value('padding-top', 140, 85, 0);
    @include adaptive-value('padding-bottom', 155, 80, 0);
    background-color: #E5C643;
    color: var(--mainWhite);

    &__wrapper {
        text-align: center;
    }

    &__title {
        font-weight: 900;
        @include adaptive-value('font-size', 55, 30, 0);
        text-transform: uppercase;
        line-height: calc(70 / 55);
        max-width: 966px;
        margin: 0 auto 37px;
    }

    &__subtitle {
        font-weight: 400;
        @include adaptive-value('font-size', 32, 20, 0);
        line-height: calc(35 / 32);
        display: block;
    }
}

.form {

    &__label {
        margin-top: 50px;
        position: relative;
        display: inline-block;
        justify-content: center;
    }

    &__input {
        display: block;
        @include adaptive-value('font-size', 24, 16, 0);
        font-weight: 400;
        line-height: calc(35 / 24);
        color: #767676;
        @include adaptive-value('padding-top', 27, 20, 0);
        @include adaptive-value('padding-right', 27, 20, 0);
        @include adaptive-value('padding-bottom', 35, 28, 0);
        @include adaptive-value('padding-left', 27, 20, 0);
        border-radius: 10px;
        background-color: #fff;
        width: 574px;
        @include adaptive-value('width', 574, 300, 0);
    }

    &__btn {
        color: var(--mainWhite);
        background-color: var(--mainColor);
        border-radius: 8px;
        padding: 15px 35px;
        position: absolute;
        font-size: 33px;
        @include adaptive-value('font-size', 33, 20, 0);
        right: 7px;
        bottom: 7px;
    }

}