.product {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
  &__title {
    @include adaptive-value("margin-bottom", 7, 5, 0);
    cursor: pointer;
    font-weight: 500;
    @include adaptive-value("font-size", 22, 14, 0);
    line-height: 1.56;
  }
  &__img-wrapper {
      grid-row: 1 / 3;
      width: 400px;
      height: auto;
    img {
      width: 100%;
      height: 100%;
      cursor: grab;
    }
  }

  &__info {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
  }

  &__prices {
        @include adaptive-value('margin-bottom', 50, 20, 1);
  }

  &-section {
    &__header {
      display: flex;
      align-items: center;
      @include adaptive-value('padding-top', 30, 18, 1);
      @include adaptive-value('padding-bottom', 30, 18, 1);
    }
    .arrow {
      height: 2px;
      &::before {
        height: inherit;
        top: 0.5px;
        left: -6.5px;
      }
      &::after {
        height: inherit;
        top: -0.5px;
        left: -6.5px;
      }
    }
  }

}

.product-img {
  height: 600px !important;
  width: 400px !important;
}

.img-props {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
}
