.sale {
    background: linear-gradient(1.32deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);
}
.sale__content {
    display: flex;
    column-gap: 24px;
    padding-right: 200px;
}

.sale__text {
    margin-top: 128px;
    max-width: 666px;
    align-items: left;
}

.sale__title {
    font-weight: 900;
    font-size: 96px;
    line-height: calc(120 / 96);
    margin-bottom: 40px;
    max-width: 474px;
}

.sale__title .highlight::before {
    bottom: -5px;
    right: -62px;
}

.sale__img img {
    max-height: 968px;
    max-width: 968px;
}

.sale__descr {
    font-weight: 500;
    font-size: 36px;
    color: #231300;
    margin-bottom: 34px;
}

.sale__date {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 10px;
}

.sale__terms {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 78px;
}

.class {
    fill: rgba(255, 255, 255, 0.5);
    fill: #000
}