.promo { /* TODO придумать альтернативу марджину */
    margin-bottom: 63px;

    &__content {
        display: flex;
        column-gap: 24px;
        padding: 68px 0 0 120px;
    
        border-radius: 60px;
        background-color: #F4F6F5;
    }

    &__title {
        font-weight: 900;
        font-size: 96px;
        line-height: calc(120 / 96);
        margin-bottom: 40px;
        max-width: 474px;
    }

    &__descr {
        font-weight: 400;
        font-size: 32px;
        line-height: calc(48 / 32);
        letter-spacing: -0.05em;
        margin-bottom: 32px;
    }

    &__btn-wrapper {
        display: flex;
        column-gap: 34px;
        align-items: center;
        &::before {
            content: '';
            display: inline-block;
            width: 190px;
            height: 32px;
            background-image: url('./../../img/icons/decor-yellow.svg');
        }
    }

    &__btn {
        text-transform: none;
    }

}

.highlight {
    position: relative;
    display: inline-block;

    span {
        position: relative;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: -30px;
        right: -165px;
        background-color: var(--mainWhite);
        transform: rotate(-2deg);
    }

    &--yellow {

        &::before {
            background-color: var(--mainYellow);
            right: -110px;
        }
    }

}
