.brands {
    @include adaptive-value('padding-top', 60, 30, 0);
    @include adaptive-value('padding-bottom', 55, 30, 0);
    background-color: #DEB887;
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $md3+px) {
            flex-wrap: wrap;
        }
        li {
            @media (max-width: $md3+px) {
                flex-basis: 33.33%;
            }
        }
        img {
            mix-blend-mode: multiply;
            max-width: 100px;
        }
    }
}