@import './mixins.scss';
:root {
  --mainColor: #000;
  --mainWhite: #fff;
  --mainYellow: #ebd96b;
  --mainGrey: #7f7f7f;
}

$maxWidth: 1920;
$maxWidthContainer: 1780;

$md2: 991.98;
$md3: 767.98;
$md4: 479.98;


body {
  font-family: "Poppins", sans-serif;
  color: var(--mainColor);
}

.container {
  max-width: 1780px;
  margin: 0 auto;
  padding: 0 30px;
  @media (max-width: $md4+px) {
    padding: 10px;
  }
}

.section-title {
  position: relative;
  display: inline-block;
  font-weight: 900;
  @include adaptive-value('font-size', 48, 30, 0);
  line-height: 1.04;
  letter-spacing: 0.06em;
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0px;
    bottom: 0px;
    width: 190px;
    height: 32px;
    background-image: url("./../img/icons/decor-yellow.svg");
    @media (max-width: $md4+px) {
      right: unset;
      left: 50px;
    }
  }
}
