@import './mixins.scss';
:root {
  --mainColor: #141010;
  --mainWhite: #fafafa;
  --mainYellow: #ebd96b;
  --mainBeige: #DEB887;
  --mainYellowDarker: #f2bd2b;
  --mainGrey: #7f7f7f;
  --accent: #4d4c4c;
}

$maxWidth: 1920;
$maxWidthContainer: 1780;

$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: var(--mainColor);
}

body._lock {
  overflow: hidden;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 30px;
  @media (max-width: $md4+px) {
    padding: 0 15px;
  }
}

.section-pad {
  @include adaptive-value('padding', 80, 40, 1);
}

._pic {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.section-title {
  font-weight: 900;
  @include adaptive-value('font-size', 48, 30, 0);
  @include adaptive-value('margin-bottom', 60, 30, 1);
  line-height: 1.04;
  letter-spacing: 0.06em;
  text-decoration: underline;
  text-transform: lowercase;
}

.rights {
  display: block;
  @include adaptive-value('padding-top', 10, 5, 0);
  @include adaptive-value('padding-bottom', 5, 3, 0);
  @include adaptive-value('font-size', 14, 10, 0);
  color: var(--mainGrey);
}

.price {
  @include adaptive-value('margin-right', 15, 10, 0);
  @include adaptive-value('font-size', 25, 16, 0);
  color: black;
  &_old {
      @include adaptive-value('font-size', 18, 16, 0);
      text-decoration: line-through;
      color: var(--mainGrey);
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  text-align: center;
  transition: all 0.3s ease 0s;
  min-height: 48px;
  background: var(--mainBeige);

  &_white {
      color: black;
      background-color: #fff;
      @media (any-hover: hover) {
          &:hover {
              background-color: var(--mainBeige);
              color: #fff;
          }
      }
  }
}

.heart-active {
  fill: #DF7474;
}

.heart-unactive {
  fill: #F6F6F6;
}

// For screen readers.
.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes button-loading {
  0% {
          opacity: 1;
  }

  50% {
          opacity: 0.5;
  }

  100% {
          opacity: 1;
  }
}

.empty-section {
  text-align: center;
  @include adaptive-value("font-size", 24, 18, 1);
  font-weight: bold;
}

.section-block {
  @include adaptive-value('padding-top', 120, 30, 0);
  @include adaptive-value('padding-bottom', 120, 30, 0);
}
