:root {
    --mainColor: #000;
    --mainWhite: #fff;
    --mainYellow: #EBD96B;
    --mainGrey: #7F7F7F;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--mainColor);
}

.container {
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 30px;
}

.section-title {
    position: relative;
    display: inline-block;
    font-weight: 900;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: 0.06em;
}

.section-title::after {
    content: '';
    position: absolute;
    z-index: -1;
    right: 0px;
    bottom: 0px;
    width: 190px;
    height: 32px;
    background-image: url('./../img/icons/decor-yellow.svg');
}