/* Адаптивное свойство - начало */

@mixin adaptive-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type == 1 {
    /* Только если меньше контейнера */
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} *
          ((100vw - 320px) / #{$maxWidthContainer - 320})
      );
    }
  } @else if $type == 2 {
    /* Только если больше контейнера */
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
      );
    }
  } @else {
    /* Всегда */
    #{$property}: calc(
      #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
    );
  }
}
/* автор миксина - Евгений Андриканич */
/* Адаптивное свойство - конец */

/*hover-эффект подчеркивания и смены цветы при наведении */

@mixin hover-underline($color) {
  @media (any-hover: hover) {
    &::before {
      content: "";
      bottom: 10px;
      background-color: transparent;
      position: absolute;
      height: 3px;
      width: 100%;
      transition: all 0.3s ease-out;
    }
    &:hover {
      color: $color;
      &::before {
        bottom: 0px;
        background-color: $color;
      }
    }
  }
}

@mixin sideways-hover {
  @media (any-hover: hover) {
    background-image: linear-gradient(
      to right,
      var(--mainBeige),
      var(--mainBeige) 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    &::before {
      content: "";
      background: var(--mainBeige);
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 3px;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      background-position: 0;
    }
    &:hover::before {
      width: 100%;
    }
  }
}
