// .card {
//     cursor: pointer;

//     &__img {
//         margin-bottom: 28px;
//         border-radius: 20px;
//     }

//     &:hover .card__img {
//         opacity: 0.8;
//         transition: all 0.3s ease 0.1s;
//     }

//     &__body {
//         display: flex;
//         justify-content: space-between;
//         column-gap: 10px;
//         align-items: center;
//     }

//     &__title {
//         margin-bottom: 7px;
//         font-weight: 500;
//         @include adaptive-value('font-size', 32, 20, 0);
//         line-height: 1.56;
//         letter-spacing: -0.04em;
//     }

//     &__muted {
//         font-weight: 500;
//         @include adaptive-value('font-size', 24, 14, 0);
//         line-height: 2.08;
//         letter-spacing: -0.04em;
//         color: var(--mainGrey);
//     }

//     &__icon {
//         position: relative;
//     }

//     &:hover .card__icon {
//         animation: slide 1.5s ease-in-out;
//     }
    
// }

.card {

    display: flex;
    flex-direction: column;
    position: relative;

    @media (any-hover: hover) {
        &:hover {
            .card__actions {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    
    &__labels {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        @include adaptive-value('right', 24, 10, 1);
        @include adaptive-value('top', 24, 10, 1);
    }

    &__label {
        flex: 0 0 48px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-weight: 500;
        &:not(:last-child) {
            margin: 0px 0px 10px 0px;
        }

        &_sale {
            background:blanchedalmond;
        }

        &_new {
            background: black;
            color: white;
        }
    }

    &__image {
        padding: 0px 0px calc(400px/285px * 100%) 0px;
    }

    &__body {
        flex: 1 1 auto;
        padding: 5px 16px 15px 15px;
        display: flex;
        flex-direction: column;
        border: 1px dashed lightgrey;
    }

    &__content {
        flex: 1 1 auto;
    }

    &__rights {

    }

    &__title {
        @include adaptive-value('margin-bottom', 7, 5, 0);
        cursor: pointer;
        font-weight: 500;
        @include adaptive-value('font-size', 22, 14, 0);
        line-height: 1.56;
    }

    &__prices {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        line-height: 150%;
    }

    &__price {
        @include adaptive-value('margin-right', 15, 10, 0);
        @include adaptive-value('font-size', 25, 16, 0);
        color: black;
        &_old {
            @include adaptive-value('font-size', 18, 16, 0);
            text-decoration: line-through;
            color: var(--mainGrey);
        }
    }

    &__actions {

        @media (any-hover: none) {
            padding-top: 15px;
        }

        @media (any-hover: hover) {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(58, 58, 58, 0.74);
            z-index: 3;
            transition: all 0.3s ease-out;
        }
    }

}

.actions-card {
   
    &__link {

        color: var(--mainColor);
        font-size: 16px;
        font-weight: bold;
        transition: all 0.3s ease-out;
        @media (any-hover: hover) {
            &:hover {
                color: black;
            }
        }

    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &__icon {
        width: 28px;
        height: 28px;
        transition: all 0.3s ease-out;
        @media (any-hover: hover) {
            fill: var(--mainBeige);
            &:hover {
                fill: white;
            }
        }
    }

    &__btn {
        flex-basis: 100%;
        margin-bottom: 10px;
        @media (any-hover: hover) {
            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}

