.card {

    display: flex;
    flex-direction: column;
    position: relative;

    @media (any-hover: hover) {
        &:hover {
            .card__actions {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    
    &__labels {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        @include adaptive-value('right', 24, 10, 1);
        @include adaptive-value('top', 24, 10, 1);
    }

    &__label {
        flex: 0 0 48px;
        width: 48px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-weight: 500;
        &:not(:last-child) {
            margin: 0px 0px 10px 0px;
        }

        &_sale {
            background:blanchedalmond;
        }

        &_new {
            background: black;
            color: white;
        }
    }

    &__image {
        padding: 0px 0px calc(400px/285px * 100%) 0px;
    }

    &__body {
        flex: 1 1 auto;
        padding: 5px 16px 15px 15px;
        display: flex;
        flex-direction: column;
        border: 1px dashed lightgrey;
    }

    &__content {
        flex: 1 1 auto;
    }

    &__rights {

    }

    &__title {
        @include adaptive-value('margin-bottom', 7, 5, 0);
        cursor: pointer;
        font-weight: 500;
        @include adaptive-value('font-size', 22, 14, 0);
        line-height: 1.56;
    }

    &__prices {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        line-height: 150%;
    }

    &__price {
        @include adaptive-value('margin-right', 15, 10, 0);
        @include adaptive-value('font-size', 25, 16, 0);
        color: black;
        &_old {
            @include adaptive-value('font-size', 18, 16, 0);
            text-decoration: line-through;
            color: var(--mainGrey);
        }
    }

    &__actions {

        @media (any-hover: none) {
            padding-top: 15px;
        }

        @media (any-hover: hover) {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(58, 58, 58, 0.74);
            z-index: 3;
            transition: all 0.3s ease-out;
        }
    }

    &__remove {
        position: absolute;
        z-index: 10;
        top: 10px;
        right: 10px;
    }

}

.actions-card {
   
    &__link {

        color: var(--mainColor);
        font-size: 16px;
        font-weight: bold;
        transition: all 0.3s ease-out;
        position: relative;
        // @media (any-hover: hover) {
        //     &:hover {
        //         color: black;
        //     }
        // }
        &_cart {
            /* счетчик в корзине */
            &::before   {
                transition: all 0.3s ease-out;
                opacity: 0;
                visibility: hidden;
                content: '1';
                width: 20px;
                height: 20px;
                background-color: black;
                color: white;
                border-radius: 50%;
                position: absolute;
                z-index: 10;
                font-size: 12px;
                text-align: center;
                right: -10px;
                top: -100%;
            }
            &.active {
                &::before {
                    opacity: 1;
                    visibility: visible;
                    top: -5px;
                }
                .cart-icon {
                    fill: var(--mainBeige);
                    stroke: var(--mainBeige);
                }
            }
        }

        &_favorite {
            &.active {
                .heart {
                    fill: var(--mainBeige);
                    stroke: var(--mainBeige);
                }
            }
        }

    } 

    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 0 10px;
    }

    &__icon {
        width: 28px;
        height: 28px;
        transition: all 0.3s ease-out;
    }

    &__icon.cart-icon {
        @media (any-hover: hover) {
            fill: white;
            stroke: white;
            &:hover {
                fill: var(--mainBeige);
            }
            &:active {
                fill: black;
            }
        }
    }

    &__icon.heart {
            @media (any-hover: hover) {
                fill: none;
                stroke: white;
                &:hover {
                    fill: var(--mainBeige);
                    stroke: var(--mainBeige);
                    opacity: 0.5;
                }
                // &:focus {
                //     fill: black;
                //     stroke: black;
                //     opacity: 1;
                // }
                // &:active {
                //     fill: black;
                //     stroke: black;
                // }
            }
    }

    &__btn {
        flex-basis: 100%;
        margin-bottom: 10px;
        background-color: white;
        color: black;
        @media (any-hover: hover) {
            &:hover {
                background-color: var(--mainBeige);
                color: white;
            }
        }
    }
}

