.application {
  margin-bottom: 220px;

  &__content {
    display: flex;
    column-gap: 24px;
    /* padding-left: 120px; */
    justify-content: space-around;
  }

  &__text {
    margin-top: 270px;
    max-width: 507px;
  }

  &__title {
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 40px;
  }

  &__descr {
    font-weight: 500;
    font-size: 24px;
    /* line-height: calc(48 / 32); */
    letter-spacing: -0.04em;
    margin-bottom: 65px;
    color: var(--mainGrey);
  }

  &__socials {
    display: flex;
    column-gap: 20px;
  }

  &__link {
    display: inline-block;
  }
}
