.header {
    padding: 46px 0 56px;

    &__row {
        display: flex;
        column-gap: 30px;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        align-items: center;
        column-gap: 13px;

        span {
            font-weight: 900;
            font-size: 40px;
            line-height: 1.5;
            letter-spacing: 0.03em;
            color: var(--mainColor);
            text-transform: uppercase;
        }
    }

}