.footer {
    background-color: #000;
    @include adaptive-value('padding-top', 120, 60, 0);
    @include adaptive-value('padding-bottom', 140, 60, 0);

    &__body {
        display: flex;
        justify-content: space-between;
    }

    &__main {
        text-align: left;
        flex-basis: 50%;
    }

    &__logo {
        font-weight: 900;
        @include adaptive-value('font-size', 40, 25, 0);
        line-height: 1.3em;
        color: var(--mainWhite);
        text-transform: uppercase;
        margin-bottom: 32px;
    }

    &__text {
        font-weight: 400;
        color: var(--mainGrey);
        @include adaptive-value('font-size', 20, 14, 0);
        line-height: 2em;
        margin-bottom: 32px;
        max-width: 415px;
    }
}

.social {

    &__list {
        display: flex;
        list-style: none;
        
        li {
            display: inline-block;
            &:not(:last-child) {
                margin-right: 14px;
            }
        }
    }

    &-icon {
        border-radius: 15px;
        border: 1px solid #EBD96B;
        background-color: #EBD96B;
        width: 54px;
        height: 54px;
    }

}


.footer-menu {
    display: flex;
    flex-basis: 50%;

    &__column:not(:last-child) {
        @include adaptive-value('margin-right', 120, 45, 0);
    }

    &__link {
        font-weight: 400;
        @include adaptive-value('font-size', 20, 14, 0);
        color: #8E8E8E;
        line-height: 1.5em;
        transition: all 0.6s ease;
        &:hover {
            color: var(--mainYellow);
        }
    }

    &__list {

        li {
            &:not(:last-child) {
                @include adaptive-value('margin-bottom', 32, 20, 0);
            }
        }
    }
}


