.orders {

        padding-top: 100px;

        &__cards {
                /* от более новых заказов к более старым */
                display: flex;
                flex-wrap: wrap-reverse;
        }
}

.order {

        flex-basis: 100%;
        &:not(last-child) {
                @include adaptive-value('margin-bottom', 50, 25, 1);
        }
        &__num {
                flex-basis: 100%;
                font-weight: 600;
                @include adaptive-value('margin-bottom', 20, 10, 1);

        }
        &__items {
                display: grid;
                gap: 30px;
                grid-template-columns: repeat(auto-fit, minmax(min-content, 285px));
                width: 100%;
        }

        .card {
                &:hover {
                        .card__actions {
                                visibility: hidden;
                                opacity: 0;
                                pointer-events: none;
                        }
                }

                &__label {
                        visibility: hidden;
                        opacity: 0;
                }
        }
}