.orders {
        &__cards {
                /* от более новых заказов к более старым */
                display: flex;
                flex-wrap: wrap-reverse;
        }
}

.order {

        flex-basis: 100%;

        @include adaptive-value('padding', 40, 20, 1);
        display: flex;
        flex-wrap: wrap;
        &__num {
                flex-basis: 100%;
                font-weight: 600;
                @include adaptive-value('margin-bottom', 20, 10, 1);

        }
        &__items {
                display: grid;
                gap: 30px;
                grid-template-columns: repeat(auto-fill, 200px);
                width: 100%;
        }

        .card {
                &:hover {
                        .card__actions {
                                visibility: hidden;
                                opacity: 0;
                                pointer-events: none;
                        }
                }

                &__label {
                        visibility: hidden;
                        opacity: 0;
                }
        }
}

.order-empty {
        align-items: center;
        &__img {
                width: 40px;
                height: 40px;
                display: block;
                margin: 0 auto;
        }
}