
.discounts {

    @include adaptive-value('padding-top', 100, 30, 0);
    @include adaptive-value('padding-bottom', 100, 30, 0);
    
    &__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        @include adaptive-value('padding-top', 40, 20, 1);
        @include adaptive-value('padding-bottom', 40, 20, 1);
    }

    &__title {
    }

    &__title {
        @include adaptive-value('margin-bottom', 35, 10, 0);
    }

    &__products {
        display: grid;
        grid-template-columns: repeat(auto-fit, (minmax(285px, 1fr)));
        gap: 32px;
    }

    &__subtitle {
        display: block;
        font-weight: 500;
        @include adaptive-value('font-size', 24, 14, 0);
        /* line-height: calc(48 / 32); */
        letter-spacing: -0.04em;
        color: var(--mainGrey);
    }
}

