.nav__list {
    display: flex;
    column-gap: 65px;
    align-items: center;
}

.list__link {
    color: var(--mainColor);
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5em;
    letter-spacing: 0.01em;
    transition: all 0.3s ease 0.1s;
}

.list__link:hover {
    color: var(--mainYellow);
}

.nav__btn {
    text-transform: uppercase;
}