.arrivals {
  
  &__title {
    @include adaptive-value('margin-bottom', 100, 30, 0);
  }

  &__cards {
    display: grid;
    gap:32px;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  }

}